---
import { getI18N } from "@i18n/index";
import Container from "./Container.astro";
import SwitchLanguague from "./SwitchLanguague.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { title, footerSections, end, body, body2 } = i18n.Footer;
---

<footer class="bg-primary text-white py-12">
  <Container>
    <div class="flex justify-between items-center pb-4 mb-4">
      <h1 class="text-xl font-bold">{title}</h1>
      <nav class="flex flex-row divide-x-2">
        <p class="px-2">{footerSections.section1}</p>
        <p class="px-2">{footerSections.section2}</p>
        <p class="px-2">{footerSections.section3}</p>
        <p class="px-2">{footerSections.section4}</p>
      </nav>
    </div>

    <p
      class="tracking-[1.05px] text-Light opacity-100 text-left text-pretty py-4 font-normal text-base leading-6"
    >
      {body}
    </p>
    <p
      class="tracking-[1.05px] text-Light opacity-100 text-left text-pretty py-4 font-normal text-base leading-6"
    >
      {body2}
    </p>

    <div
      class="mt-4 text-center font-normal text-base leading-none tracking-[1.2px] opacity-100 text-Light"
    >
      <span>{end}</span>
      <SwitchLanguague />
    </div>
  </Container>
</footer>
