---
import Container from "@components/Container.astro";
import { Image } from "astro:assets";
import Imagen from "@assets/images/seal@2x.webp";
import Bottle from "@assets/images/1_bottle@2x.webp";
import Icon1 from "@assets/icons/icon_01.svg";
import Icon2 from "@assets/icons/icon_02.svg";
import Icon3 from "@assets/icons/icon_03.svg";
import GetStartedButton from "@components/GetStartedButton.astro";
import { getI18N } from "@i18n/index";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { title, priceSection, body, bottomText, button, iconSection } =
  i18n.BuySection;
---

<main
  class="bg-buyBackground py-16 h-auto lg:h-[935px] flex place-content-center items-center"
>
  <Container extraClases=" grid lg:grid-cols-2 gap-8">
    <section class="bg-Light lg:col-span-1 lg:order-1 rounded-2xl p-8 order-1">
      <div class="flex place-content-center">
        <Image
          src={Bottle}
          alt={"Bottle"}
          quality={"low"}
          loading={"lazy"}
          format={"avif"}
          class={"w-[276px] h-[432px] "}
        />
      </div>
      <p
        class="px-4 h-[40px] w-[258px] mx-auto py-2 text-Light capitalize bg-primary rounded-full text-center"
      >
        {button}
      </p>
      <div
        class="pt-1 h-auto place-content-center items-center justify-items-center lg:h-[181px] flex flex-col lg:flex-wrap justify-between p-6"
      >
        <Image
          src={Bottle}
          alt={" Mini Bottle"}
          quality={"low"}
          loading={"lazy"}
          format={"avif"}
          class={"h-[181px] w-[116px] drop-shadow-2xl"}
        />
        <Image
          src={Bottle}
          alt={" Mini Bottle"}
          quality={"low"}
          loading={"lazy"}
          format={"avif"}
          class={"h-[181px] w-[116px] drop-shadow-2xl"}
        />
        <Image
          src={Bottle}
          alt={" Mini Bottle"}
          quality={"low"}
          loading={"lazy"}
          format={"avif"}
          class={"h-[181px] w-[116px] drop-shadow-2xl"}
        />
      </div>
    </section>

    <aside class="lg:col-span-1 lg:order-1 order-2">
      <h1
        class="text-Black text-center lg:text-left font-bold text-5xl leading-tight tracking-[1.38px] opacity-100"
      >
        {title}
      </h1>

      <div
        class="bg-Light p-6 place-content-center items-center rounded-3xl flex justify-center gap-8 my-8 flex-col md:flex-row"
      >
        <div class="flex items-center">
          <Image
            src={Icon1}
            alt={"brain"}
            quality={"low"}
            loading={"lazy"}
            format={"avif"}
            class={"w-[64px] h-[64px] mr-2"}
          />
          <span>{iconSection.title1}</span>
        </div>
        <div class="flex items-center">
          <Image
            src={Icon2}
            alt={"Heart"}
            quality={"low"}
            loading={"lazy"}
            format={"avif"}
            class={"w-[64px] h-[64px] mr-2"}
          />
          <span>{iconSection.title1}</span>
        </div>
        <div class="flex items-center">
          <Image
            src={Icon3}
            alt={"Person"}
            quality={"low"}
            loading={"lazy"}
            format={"avif"}
            class={"w-[64px] h-[64px] mr-2"}
          />
          <span>{iconSection.title1}</span>
        </div>
      </div>

      <p class="text-center pb-8 text-Black">{body}</p>
      <div
        class="bg-Light p-4 rounded-3xl flex place-content-between items-center"
      >
        <div class="flex flex-col">
          <span
            class="text-tenueText font-normal opacity-100 shadow-2xl text-xl tracking-[.3px] text-center"
            >{priceSection.title}</span
          >
          <span
            class="line-through text-tenueText shadow-2xl text-xl font-normal opacity-100 tracking-[.3px] text-center"
            >{priceSection.price}</span
          >
        </div>
        <p
          class="font-semibold text-center text-Black text-4xl
       tracking-[.82px] opacity-100"
        >
          {priceSection.price2}
        </p>
        <GetStartedButton />
      </div>
      <div class="flex place-content-center py-8">
        <Image
          src={Imagen}
          alt={"guarantee budget"}
          quality={"low"}
          loading={"lazy"}
          format={"avif"}
          class={"w-[120px] h-[119px]"}
        />
        <p
          class="flex items-center ml-4 text-base font-bold text-Black text-left tracking-[.55px] opacity-100"
        >
          {bottomText}
        </p>
      </div>
    </aside>
  </Container>
</main>
