---
import Card from "@components/Card.astro";
import { getI18N } from "@i18n/index";
import { Image } from "astro:assets";
import Imagen from "@assets/images/Grupo 4124@2x.webp";
import Clock from "@assets/icons/medical/clock.astro";
import Title from "@components/Title.astro";
import Meal from "@assets/icons/medical/meal.astro";
import Medicine from "@assets/icons/medical/medicine.astro";
import Paragraph from "@components/Paragraph.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { title, body, body2, info } = i18n.MedilcalSection;
---

<Card clases="flex flex-col lg:flex-row lg:flex-col">
  <section class="flex flex-col lg:flex-row mb-10 w-full">
    <div class="w-full lg:w-1/3">
      <Image
        src={Imagen}
        alt="Pills"
        quality="low"
        loading="lazy"
        format="avif"
        class="h-auto lg:h-[241px] w-full"
      />
    </div>
    <aside class="flex flex-col ml-0 lg:ml-4 w-full lg:w-2/3">
      <Title clases="text-primary py-2">
        {title}
      </Title>
      <Paragraph clases="py-2">
        {body}
      </Paragraph>
      <Paragraph>
        {body2}
      </Paragraph>
    </aside>
  </section>
  <div class="border-t border-gray-100 my-6 w-full"></div>

  <div class="flex flex-col sm:flex-row items-center justify-center w-full">
    <section class="w-full lg:w-2/3 flex justify-center">
      <div class="justify-center items-center place-content-center">
        <Title clases="text-black">{info.title}</Title>
        <Paragraph clases=" text-pretty">{info.body}</Paragraph>
      </div>
    </section>

    <aside
      class="flex flex-col justify-center items-center w-full lg:w-1/3 mt-4 md:mt-0 place-content-center"
    >
      <div class="flex justify-end gap-2 items-center w-full">
        <div
          class="text-primary text-base leading-6 tracking-[.4px] font-bold p-6 bg-detailsBackgroud rounded-3xl flex flex-col items-center"
        >
          <Medicine />
          <span>{info.section1}</span>
        </div>
        <div
          class="text-primary text-base leading-6 tracking-[.4px] font-bold p-6 bg-detailsBackgroud rounded-3xl flex flex-col items-center"
        >
          <Clock />
          <span>{info.section2}</span>
        </div>
        <div
          class="text-primary text-base leading-6 tracking-[.4px] font-bold p-6 bg-detailsBackgroud rounded-3xl flex flex-col items-center"
        >
          <Meal />
          <span class="truncate">{info.section3}</span>
        </div>
      </div>
    </aside>
  </div>
</Card>
